:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
    margin-top: 120px;
    /* ajusta según el alto de tu navbar */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}